body {
  width: 1920px;
  height: 1080px;
  margin: 0;
  background-color: black;
}

.container {
  height: 100%;
  width: 100%;
  background-color: #00000000;
  /* background-color: #008080; */
  display: table;
  position: relative;
}

.corner-right, .corner-bottom {
  position: absolute;
  bottom: 0;
  box-shadow: -3px -3px 15px white;
}

.corner-right {
  width: 2px;
  height: 150px;
}

.corner-bottom {
  width: 150px;
  height: 2px;
}

.label {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.label a , .label img{
  color: #000000;
  /* opacity: 0.2; */
  /* color: #329999; */
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 100px;
  font-weight: bold;
  text-shadow: -1px 1px 0.1em #004040;
  text-decoration: none;
  position: relative;
  /*top: -30px;*/
}

.label img:hover {
  /* opacity: 100; */
transform: translate(-1%, -1%);
  /* text-shadow: -1px 1px 0.1em #004040, 0 0 0.2em #99cccc; */
  cursor: pointer;
}

.label {
  /* color: #329999; */
  font-size: 36pt;
}

#over{
    position: absolute;
    z-index: 2;
    right: 1405px;
    /* bottom: 418px; */
    /* right: -30%; */
    bottom: 57%;
    width: 557px;
    height: 487px;
}